
// Default Theme
// ------------------------------------------------------------------------------------------------

/**
*	1. Anchors
*	2.
*	3.
*	4.
*/

// Colors
// ------------------------------------------------------------------------------------------------
$color-black:												#000000;
$color-gray:												#78787A;
$color-gray-dark:											#231F20;
$color-gray-lighter:										#D2D3D5;
$color-gray-lightest:										#EEEEEE;
$color-green:												#2DB5AB;
$color-green-bright:										#3FC568;
$color-green-lighter:										#CDECEA;
$color-menu-primary:										#464747;
$color-menu-secondary:										#333333;
$color-menu-tertiary:										rgba(0, 0, 0, 0.2);
$color-menu-quaternary:										rgba(0, 0, 0, 0.18);
$color-menu-quinary:										rgba(0, 0, 0, 0.1);
$color-purple:												#516199;
$color-purple-lighter:										#6472A1;
$color-red:													#E56E53;
$color-white:												#FFFFFF;
$color-transparent:											transparent;


// Color Maps
// ------------------------------------------------------------------------------------------------
$colors-accounts-payable: (
	current: HSLA(226, 30%, 46%, 1.0),
	net-15: HSLA(226, 30%, 46%, 0.88),
	net-30: HSLA(226, 30%, 46%, 0.76),
	net-45: HSLA(226, 30%, 46%, 0.64),
	net-60: HSLA(226, 30%, 46%, 0.52),
	net-75: HSLA(226, 30%, 46%, 0.40)
);

$colors-accounts-receivable: (
	current: #46C26B,
	net-30: #5BAB5E
);

// gray
// #939598
// #F2F3F3
// #D1D3D4
// #A7A9AC
// #231F20

// #EBECED
// #BCBEC0
// #808285
// #58595B

// #F1F2F2
// #6D6E71

// #EEEEEE
// #DDDDDD
// #E2E2E2

// #707376
// #CCCCCC
// #555555

// #E5E7E7
// #626365

// purple
// headlines 			#4D6699
// sticky header 		#516199

// green
// sortable columns 	#2DB5AB
// btn background		rgba(45,181,171,0.24)
// bright text			#24D35E
// toggle switch		#3DC168
// more bright text		#3fc568

// // #EEEEEE gray-lightest to replace:
// #F2F3F3
// #EBECED
// #F1F2F2
// #E2E2E2
//


// // #D2D3D5 gray-light
// #D1D3D4
// #A7A9AC
// #BCBEC0
// #DDDDDD


// // #78787A gray
// #939598
// #808285
// #6D6E71


// // #231F20 gray-dark
// #58595B
// #231F20


// 1. Anchors
// ------------------------------------------------------------------------------------------------
$color-anchor:												$color-green;
$color-anchor-hover:										$color-white;

$color-button-bg:											$color-transparent;
$color-button-border:										$color-white;
$color-button-font:											$color-button-border;
$color-button-bg-hover:										$color-button-border;
$color-button-border-hover:									$color-button-border;
$color-button-font-hover:									$color-green !important;


$color-loading-bg:											$color-green;
$color-loading-font:										$color-white;
$color-loading-animation:									$color-loading-bg;


// Top and Sidebar
// ------------------------------------------------------------------------------------------------
// Top
$color-top-font:											$color-white;
$color-top-button-hover:									$color-menu-tertiary;

// Sidebar
$color-sidebar-font:										$color-white;
$color-sidebar-collapse-button-font-hover:					$color-white;


// Dashboard
// ------------------------------------------------------------------------------------------------
$color-dashboard-font:										$color-white;
$color-dashboard-bg:										$color-purple;
$color-dashboard-font:										$color-white;
$color-dashboard-button-bg:									$color-transparent;
$color-dashboard-button-border:								$color-dashboard-font;
$color-dashboard-button-font:								$color-dashboard-font;
$color-dashboard-button-bg-hover:							$color-dashboard-font;
$color-dashboard-button-border-hover:						$color-dashboard-font;
$color-dashboard-button-font-hover:							$color-dashboard-bg;

// Breadcrumbs
$color-breadcrumbs-span:									$color-dashboard-bg;

// Grid
$color-grid-bg:												$color-gray-lightest;
$color-grid-item-bg:										$color-white;
$color-grid-item-font-secondary:							$color-gray-lighter;
$color-grid-border:											$color-gray-lighter;


// 
// ------------------------------------------------------------------------------------------------