
// Default Theme
// ------------------------------------------------------------------------------------------------

/**
*	1. Anchors
*	2.
*	3.
*	4.
*/


// 1. Anchors
// ------------------------------------------------------------------------------------------------
$color-anchor:												#2DB5AB;
$color-anchor-hover:										#FFFFFF;

$color-button-bg:											transparent;
$color-button-border:										#FFFFFF;
$color-button-font:											$color-button-border;
$color-button-bg-hover:										$color-button-border;
$color-button-border-hover:									$color-button-border;
$color-button-font-hover:									#2DB5AB !important;


$color-loading-bg:											#2DB5AB;
$color-loading-font:										#FFFFFF;
$color-loading-animation:									$color-loading-bg;


// Top and Sidebar
// ------------------------------------------------------------------------------------------------
$color-top-and-sidebar-bg:									#464747;
$color-top-and-sidebar-border:								#333333;

// Top
$color-top-font:											#FFFFFF;
$color-top-button-hover:									#3A3A3A;

// Sidebar
$color-sidebar-font:										#FFFFFF;
$color-sidebar-button-hover:								rgba(0, 0, 0, 0.18);
$color-sidebar-collapse-button-font:						#A1A2A3;
$color-sidebar-collapse-button-font-hover:					#FFFFFF;


//
// ------------------------------------------------------------------------------------------------
$color-dashboard-font:										#FFFFFF;
$color-dashboard-bg:										#516199;
$color-dashboard-font:										#FFFFFF;
$color-dashboard-button-bg:									transparent;
$color-dashboard-button-border:								$color-dashboard-font;
$color-dashboard-button-font:								$color-dashboard-font;
$color-dashboard-button-bg-hover:							$color-dashboard-font;
$color-dashboard-button-border-hover:						$color-dashboard-font;
$color-dashboard-button-font-hover:							$color-dashboard-bg;

$color-grid-bg:												#EBECED;
$color-grid-item-bg:										#FFFFFF;
$color-grid-item-font-primary:								#4D6699;
$color-grid-item-font-secondary:							#BCBEC0;